<a href="https://colab.research.google.com/github/Shk-tech/my-colab-learning-material/blob/main/2507_korea_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = ()
b = (1,)
c = (1, 2, 3)
d = 1, 2, 3
e = (1, 2, ('asdf', 'qwer'))

In [ ]:
# tuple - 거의 리스트와 똑같이 일렬로 데이터 저장
# ! 불변 - 추가 삭제 불가
# 원소가 하나일 때, 반드시 ',' 기호가 들어가야 한다.
# 생성 방법은 튜플() - 리스트[]
# 괄호는 생략 가능
len(a)

0

In [ ]:
(1,) # ??? 연산자 우선순위
(2 + 2) * 2

1

In [ ]:
# 괄호() 3가지 1.튜플   2.연산자우선순위   3.함수호출
# ???() -> 함수 호출
# () -> 연산자 우선순위 (콤마 없음)
# (,) -> 튜플

a = [1, 2, 3]
[1, 2, 3][0] # 각괄호 (대괄호)  {} 중괄호

1

In [ ]:
d

(1, 2, 3)

In [ ]:
# 튜플의 괄호가 생략 가능하다는 점 때문에
# 튜플인 줄 모르게 그냥 사용하는 경우....
a = 1
b = 2
(a, b) = (1, 2) # unpack
a, (b, c) = (1, (2, 3)) #unpack

In [ ]:
# zip -> 엄청 중요
# zip, enumerate
names = ['김', '이', '박']
scores = [80, 70, 100]
for name in names:
    print(name)
for score in scores:
    print(score)

#김 80
#이 70
#박 100
for i in range(3):
    print(names[i], scores[i])

김
이
박
80
70
100
김 80
이 70
박 100

In [ ]:
#zip은 두 개의 리스트를 동시에 반복할 수 있도록 해준다.
#for ai, bi in zip(a, b):
# -> 이렇게 외워도....
for name, score in zip(names, scores):
    print(name, score)

김 80
이 70
박 100

In [ ]:
# generator
list(zip(names, scores))

[('김', 80), ('이', 70), ('박', 100)]

In [ ]:
for item in zip(names, scores):
    name, score = item
    print(name, score)
    print(item)

김 80
('김', 80)
이 70
('이', 70)
박 100
('박', 100)

In [ ]:
for i in range(3):
    print(i, names[i])

0 김
1 이
2 박

In [ ]:
index = [0, 1, 2]
for i, name in zip(index, names):
    print(i, name)

0 김
1 이
2 박

In [ ]:
list(zip(index, names))
list(enumerate(names))

[(0, '김'), (1, '이'), (2, '박')]

In [ ]:
for i, name in enumerate(names):
    print(i, name)

0 김
1 이
2 박

In [ ]:
#튜플끼리 비교 가능
# 앞에 있는 것부터 비교하고 같으면 그 다음 원소 비교
(2, 2) > (1, 4)

True

In [ ]:
#앞에 있는 글자부터 비교 - unicode
'aab' < 'aac'

True

In [ ]:
names = ['김', '나', '박', '이'] # 20년전 남자 보컬 4인
scores = [30, 80, 70, 20]
s = sorted(zip(scores, names))
scores, names = list(zip(*s))
scores

(20, 30, 70, 80)

In [ ]:
names

('이', '김', '박', '나')

In [ ]:
a = zip(scores, names)
# 반복문의 반복 횟수?
for i in a:
    print(i) #1. int(x)  2.string  3.list  4.tuple

In [ ]:
s = list(zip(scores, names))
scores, names = list(zip(s[0], s[1], s[2], s[3]))

[(20, 30, 70, 80), ('이', '김', '박', '나')]

In [ ]:
# 불변타입
a = 1, 2, 3, 4
# 수정, 추가, 삭제 불가 - 의도된 것.
a[0] = 10

TypeError: 'tuple' object does not support item assignment

In [ ]:
del a[1]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
# pack, unpack
a, b, c = 1, 2, 3

# 딕셔너리

In [ ]:
# 사전
# 공용사물함
# key-value pair
# key를 이용해서 value를 꺼낸다.

# list는 순서대로 저장하기 때문에 순서(index)를 알면 바로 값을 얻을 수 있다.
a = [1, 'a', 3, 'asdf']
a[3]
# 순서 없이 데이터를 가져오는 형태 - 딕셔너리
# '{'(중괄호) 로 나타냄. ':'을 기준으로 key-value구분
a = {'name':'홍', 'phone':1234, 'addr':'한국'}
a['name']
a['addr'] # 순서와 상관없이 특정한 키워드로 값을 얻음

'한국'

In [ ]:
# 값 추가 삭제
a['age'] = '비밀'
del a['addr']
a

{'name': '홍', 'phone': 1234, 'age': '비밀'}

In [ ]:
# 키값은 중복되지 않는다.
a['age'] = 100
a

{'name': '홍', 'phone': 1234, 'age': 100}

In [ ]:
# 키 - 정수, 실수, 문자열, 튜플 (불변 타입)
# 밸류 - 아무거나 reference

In [ ]:
# 관계형 데이터베이스 (mysql, MariaDB)
# 데이터의 구조가 동적으로 변할 때 사용
# 이름, 나이, 직업(x), 전화번호, 이메일
data = [['김기석', 41, '강사'],
        ['이민정', 35, '가수'],
        ['홍길동', 17, '도적']]
data[1][2]

'가수'

In [ ]:
# nosql (MongoDB)
data = [{'name':'김기석', 'age':41, 'job':'강사'},
        {'name':'이민정', 'age':35, 'job':'가수'},
        {'name':'홍길동', 'age':17, 'job':'도적'},
        {'name':'장만옥', 'job':'배우', 'from':'HongKong'}]
data[3]

{'name': '장만옥', 'job': '배우', 'from': 'HongKong'}

In [ ]:
# DB가 뭐지????
# 데이터를 효율적으로 저장하기 위한 방법, 프로그램, 저장된 데이터
# 디스크에 저장, 용량이 엄청 크고, 수정이 빈번하면...
# excel은 부분 수정이 안 되고(x), 공동작업(x), 자동화처리(x)

In [ ]:
for key, value in a.items():
    print(key, value)

name 홍
phone 1234
age 100

In [ ]:
# set - 집합
# dict-> key(0), value(x)
a = {1, 2, 3}
a.add(1)
a

{1, 2, 3}

In [ ]:
# 중복을 제거하는 역할
a = set([1, 2, 3, 2, 4, 1])
a
{1, 2, 3} & {3, 4, 5} # 교집합
{1, 2, 3} - {3, 4} # 차집합
{1, 2, 3} | {3, 4} # 합집합
#iI1lㅣ|

{1, 2, 3, 4}

In [ ]:
True and False

False

In [ ]:
True or False

True

In [ ]:
not True

False

In [ ]:
a = True
b = True
not (a and b) == ((not a) or (not b))

True

In [ ]:
score = 80
70 < score and score < 90
# python 에서는 연속 비교를 지원!!!
70 < score < 90

True

In [ ]:
1 == 1 == 1 # 3개를 동시 비교
# a == b == c
1 < 2 < 3 < 4 < 5 # and로 묶인다!!!!!

True