<a href="https://colab.research.google.com/github/Shk-tech/my-colab-learning-material/blob/main/Untitled148.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 데이터 수집..
 - 됐다고 가정

In [ ]:
from pathlib import Path
import pandas as pd
import tarfile
import urllib.request

def load_housing_data():
    tarball_path = Path("datasets/housing.tgz")
    if not tarball_path.is_file():
        Path("datasets").mkdir(parents=True, exist_ok=True)
        url = "https://github.com/ageron/data/raw/main/housing.tgz"
        urllib.request.urlretrieve(url, tarball_path)
        with tarfile.open(tarball_path) as housing_tarball:
            housing_tarball.extractall(path="datasets")
    return pd.read_csv(Path("datasets/housing/housing.csv"))

housing = load_housing_data()

In [ ]:
# 1. 데이터 탐색(study) - corr, 히스토그램, scatter....

#----전처리 과정-----
# 4. 결측치 처리
# 5. x-> numeric, categorical
# 5.1   numeric-> 특징 추가, scaling
# 5.2   categorical -> onehot-enc, replace  (str->float)
# 5.3 둘을 합치면 전처리 끝.

#----머신러닝-----
# 2. split train - valid(test)
# 3. split x, y
# 6. model 선정, fit
# 7. 성능측정, 검증

In [ ]:
# 4. 결측치 처리...
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [ ]:
# 확인 결과 total_bedrooms 에 결측치 존재
# 중간값으로 채운다.

median = housing[['total_bedrooms', 'population']].median()#default-(axis=0)
median

total_bedrooms     435.0
population        1166.0
dtype: float64

In [ ]:
df2 = housing.fillna(median)
# df2 = housing.copy()
# df2['total_bedrooms'] = df2['total_bedrooms'].fillna(median)
df2.isnull().any().any()

np.False_

In [ ]:
median = housing[['total_bedrooms', 'population']].median()
median # series (=dictionary)
df2 = housing.fillna(median)

In [ ]:
import numpy as np
num = df2.select_dtypes(np.number)
cat = df2.select_dtypes(object) # ??
# df2.columns
# cat = df2[['ocean_proximity']]
# num_cols = ['longitude', 'latitude', 'housing_median_age', 'total_rooms',
#        'total_bedrooms', 'population', 'households', 'median_income',
#        'median_house_value']
# df2[num_cols]

# num_cols = set(df2.columns) - set(['ocean_prolimity'])
# df2[list(num_cols)]

In [ ]:
# 스케일링
mean = num.mean()
std = num.std()
num2 = (num - mean) / std
num2.std()

longitude             1.0
latitude              1.0
housing_median_age    1.0
total_rooms           1.0
total_bedrooms        1.0
population            1.0
households            1.0
median_income         1.0
median_house_value    1.0
dtype: float64

In [ ]:
# cat
cat2 = pd.get_dummies(cat)

In [ ]:
prep = pd.concat([num2, cat2], axis=1)

In [ ]:
# 본격적인 머신러닝...
from sklearn.model_selection import train_test_split
y = prep[['median_house_value']]
x = prep.drop('median_house_value', axis=1)
test_size = int(len(x) * 0.2)
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=test_size, shuffle=True)

In [ ]:
x_test

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
12131,-1.028332,1.647105,-0.130267,0.162832,0.238825,-0.005719,0.278452,-1.045241,False,True,False,False,False
12589,-1.257926,1.104022,-0.765917,0.200419,-0.073532,0.306874,-0.017105,0.831093,False,False,False,True,False
12101,1.132852,-0.721861,0.902663,-0.726417,-0.698246,-0.600883,-0.670991,-0.887700,False,True,False,False,False
17033,0.578830,-0.646953,0.584838,-0.682872,-0.662480,-0.222945,-0.595140,-0.141630,True,False,False,False,False
10088,0.658689,-0.815496,0.982119,-0.531608,-0.598101,-0.299769,-0.579447,-0.740844,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12267,0.678654,-0.801451,0.584838,-0.932228,-0.922380,-0.689186,-0.927314,-0.354913,True,False,False,False,False
9340,1.167790,-0.792088,-1.639934,-0.105776,0.000384,0.148811,0.045668,-0.416761,False,True,False,False,False
9186,0.723574,-0.848269,1.141031,-0.500438,-0.598101,-0.639736,-0.527136,0.140449,True,False,False,False,False
12022,-0.858632,1.427063,-1.322110,1.128630,1.328498,0.532930,1.478986,-0.171738,False,True,False,False,False
8994,0.748530,-0.895086,-0.368636,-0.639784,-0.574257,-0.805746,-0.642220,0.544119,False,False,False,False,True